    <div id="particles-js"></div>

    <script src="particles.js"></script>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <!-- <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Contact</a></li> -->
                </ul>
              </nav>
            </div>
          </div>

          <div class="pulse_holder" >
            <div class="pulse_marker">
              <div class="pulse_rays"></div>
            </div>
          </div>

          <div class="inner cover">

            <h1 class="cover-heading">Heartstrings</h1>
            <p class="lead">Send messages to your loved ones.<br>
              Deliver them right on time.
            </p>
             <p class="lead">
              <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-lg btn-default' %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Created by Stacey Ko and Rolando Brown</p>
            </div>
          </div>

        </div>

      </div>

    </div>
