/*flash*/
.alert-error {
    background-color: #fff;
    border-color: #f9d5dd;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f12c4a;
    border-color: #eed3d7;
    color: #fff;
    text-align: left;
 }

.alert-success {
    background-color: #fff;
    border-color: #f9d5dd;
    color: #333;
    text-align: left;
 }

.alert-notice {
    background-color: #fff;
    border-color: #f9d5dd;
    color: #333;
    text-align: left;
 }
