/* table*/

.panel-body {
    background-image: none;
    background-color: #fff;
    color: #333;

}

/* messages*/

.new_message input{
    color: #333;
}

.new_message textarea{
    color: #333;
}

/* table*/

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #666;
}

/*flash*/
.alert-error {
    background-color: #fff;
    border-color: #f9d5dd;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f12c4a;
    border-color: #eed3d7;
    color: #fff;
    text-align: left;
 }

.alert-success {
    background-color: #A071A7;
    border-color: #f9d5dd;
    color: #333;
    text-align: left;
 }

.alert-notice {
    background-color: #fff;
    border-color: #f9d5dd;
    color: #333;
    text-align: left;
 }
